# Supabase Proje Bilgileri
# Supabase Dashboard > Project Settings > API kısmından alınacak
NEXT_PUBLIC_SUPABASE_URL=https://BURAYA_PROJE_URL.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=BURAYA_ANON_KEY_YAPISTIR
